@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background:rgb(250, 252, 255);
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.logo{
    color:rgb(250, 252, 255);
    font-weight: 600;
    font-size: 20px;
    margin:10px;
}

.navWrapper {
    background:rgb(41, 43, 45);
    height: 50px;
    display:flex;
    align-items: center;
    
}

.navContainer {
    display:flex;
    flex-direction: row;
    gap: 30px;
    width:100%;
    align-items: center;
    margin: 30px ;
    justify-content: flex-end;
}

.authContainer {
    display:flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 30px ;
}

.authFormContainer {
    display:flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 30px ;
}

.btnNavBar {
    margin-left: 30px;
    width: 160px;
    height:30px;
}

.btnAuth {
    width: 340px;
    height:30px;
}

.mt-3 {
    width: 340px;
    height:30px;
}

.footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px ;
}